.badge {
    width:100px;
    height:100px;
    background:bisque;
    margin-bottom:20px;
    border-radius:5px;
    position:relative;
}
.badge .label {
    height:20px;
    background-color:red;
    color:white;
    position:absolute;
    right:0px;
    top:0px;
    transform: translate(50%,-50%);
    border-radius:40px;
    text-align:center;
    padding:1px 6px;
    border:1px solid white;
}