.message {
    position:absolute;
    top:30px;
    right:30px;
    width:300px;
    padding:10px;
    border:1px solid black;
}
.message a {
    text-decoration:none;
    color:gray;
    position: absolute;
    top:10px;
    right:15px;
}
.message span {
    color:gray;
    width:280px;
    display: block;
}
.message p {
    margin:0 0 10px;
}