.divider {
    height:20px;
    /* border:1px solid green; */
    position:relative;
    text-align:center;
}
.divider:after {
    content:'';
    border-bottom:1px solid black;
    width:100%;
    display: block;
    position:absolute;
    top:50%;

}
.divider span {
    z-index:2;
    background-color:white;
    padding:0px 10px;
    position:absolute;
    transform: translateX(-50%);
}